@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    background-image: linear-gradient(#0067e0 70%, white 30%) ;
    height: 100vh;
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.container .img-1{
    width:90%;
    height: 90vh;
    object-fit:cover;
    border-radius: 5px; 
    position: absolute; 
    top: 50px; 
}
/* ------------------------------------- container end--------------------------------------------------------- */
.container1{
    min-height: 100vh;
    width: auto;
    padding:25px 45px;
}
.discard{
    font-family: 'Kanit', sans-serif;
    color: blue;
    line-height: 20px;
}
.header1{
    font-family: 'Kanit', sans-serif;
    line-height:35px;
    font-size: 40px; 
}
.header1:hover{
    cursor: pointer;
    color: blue;
}
.boxes{
    padding-top:50px ;
    display: flex;
    justify-content: start;
    align-items:start;
    gap:20px;
}
.box1{ height:270px ;
       width:400px;
}
.box1 p{
    font-family: 'Kanit', sans-serif;
    color: blue;
    font-size:12px ;
    line-height:25px;
}.box1 h3{ font-family: 'Kanit', sans-serif;
    line-height: 20px;
   }
.box1 h3:hover{
    color: blue;
    cursor: pointer;
}

.box2{height:270px ;
    width:400px;}
.box2 p{
    font-family: 'Kanit', sans-serif;
    color:blue;
    line-height:25px;
    font-size:12px ;
}
.box2 h3{
    font-family: 'Kanit', sans-serif;
    line-height: 20px;
}
.box2 h3:hover{
    color: blue;
    cursor: pointer;
}

.img-2{
    height:180px;
    width:400px;
    border-radius:5px ;
}
.img-3{
    height:180px;
    width:400px;
    border-radius:5px ;
}
.boxes-1{
    height: 300px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.box3{ height:250px ;
    width:260px;
}
.box4{ height:250px ;
    width:260px;
}
.box5{height:250px ;
 width:260px;}
.box3 p{
    font-family: 'Kanit', sans-serif;
    color: blue;
    line-height:25px;
    font-size:12px ;
}
.box4 p{
 font-family: 'Kanit', sans-serif;
 color:blue;
 line-height:25px;
    font-size:12px ;
}
.box5 p{
    font-family: 'Kanit', sans-serif;
    color:blue;
    line-height:25px;
    font-size:12px ;
   }
.box3 h3{
    font-family: 'Kanit', sans-serif;  
    line-height: 20px;
}
.box4 h3{
    font-family: 'Kanit', sans-serif;
    line-height: 20px;
}
.box5 h3{
    font-family: 'Kanit', sans-serif;
    line-height: 20px;
}
.box3 h3:hover{
    color: blue;
    cursor: pointer;
}
.box4 h3:hover{
 color: blue;
 cursor: pointer;
}
.box5 h3:hover{
    color: blue;
    cursor: pointer;
  }
.img-4{
 height:150px;
 width:260px;
 border-radius:5px ;
}
.img-5{
 height:150px;
 width:260px;
 border-radius:5px ;
}
.img-6{
    height:150px;
    width:260px;
    border-radius:5px ;
}
.boxes-2{
    height: 300px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.box6{ height:250px ;
    width:260px;
}
.box7{ height:250px ;
    width:260px;
}
.box8{height:250px ;
 width:260px;}
.box6 p{
    font-family: 'Kanit', sans-serif;
    color: blue;
    line-height:25px;
    font-size:12px ;
}
.box7 p{
 font-family: 'Kanit', sans-serif;
 color:blue;
 line-height:25px;
    font-size:12px ;
}
.box8 p{
    font-family: 'Kanit', sans-serif;
    color:blue;
    line-height:25px;
    font-size:12px ;
   }
.box6 h3{
    font-family: 'Kanit', sans-serif;  
    line-height: 20px;
}
.box7 h3{
    font-family: 'Kanit', sans-serif;
    line-height: 20px;
}
.box8 h3{
    font-family: 'Kanit', sans-serif;
    line-height: 20px;
}
.box6 h3:hover{
    color: blue;
    cursor: pointer;
}
.box7 h3:hover{
 color: blue;
 cursor: pointer;
}
.box8 h3:hover{
    color: blue;
    cursor: pointer;
  }
.img-7{
 height:150px;
 width:260px;
 border-radius:5px ;
}
.img-8{
 height:150px;
 width:260px;
 border-radius:5px ;
}
.img-9{
    height:150px;
    width:260px;
    border-radius:5px ;
}
/* ----------------------------------------- container1 end------------------------------------------------ */
.container2{
    height: 120vh;
    width: 100%;

}
.boxes-3{
    height: 100%;
    width: 100%;
    display: flex;
    background-color:rgb(218, 205, 180);
    border-radius:10px ;
    padding: 20px;
}
.boxes-3 .box9{
    width:40% ;
    height: 100%;
    padding: 20px;
}
.box9 p{
    font-family: 'Kanit', sans-serif;
    line-height: 30px;
}
.box9 h2{
    font-family: 'Kanit', sans-serif;
    line-height:30px ;
    padding-bottom: 15px;
    font-size: 40px;
    color:blue;
}
.img-10{
    height: 130px;
    width: 80%;
    border-radius: 10px;
}
.box9 h6{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.box9 button{
    font-family: 'Kanit', sans-serif;
    background-color: #0067e0;
    border:none;
    color: white;
    border-radius: 20px;
    width: auto;
    padding: 10px;
}

.boxes-3 .box10{
    width:65% ;
    height: 100%;
}
.box11{
    height: 55%;
}
.img-11{
    width: 100%;
    height: 80%;
    border-radius: 5px;
}
.box11 p{
    font-family: 'Kanit', sans-serif;
    padding-top: 10px;
}
.box11 p:hover{
    color: #0067e0;
}
.box12{
    height: 45%;
    display: flex;
    gap:5px;
}
.box-13{
    width: 33%;
    
}
.box-13 p{
    font-family: 'Kanit', sans-serif;
    line-height: 15px;
    padding-top:10px;
}
.box-13 p:hover{
    color: #0067e0;
}
.img-12{
    width: 100%;
    height: 120px;
    border-radius: 5px;
}
.box-14{
    width: 33%;
}
.box-14 p{
    font-family: 'Kanit', sans-serif;
    line-height: 15px;
    padding-top:10px;
}
.box-14 p:hover{
    color: #0067e0;
}
.img-13{
    width: 100%;
    height: 120px;
    border-radius: 5px;
}
.box-15{
    width: 33%;
}
.box-15 p{
    font-family: 'Kanit', sans-serif;
    line-height: 15px;
    padding-top:10px;
}
.box-15 p:hover{
    color: #0067e0;
}
.img-14{
    width: 100%;
    height: 120px;
    border-radius: 5px;
}
/* ----------------------------------------------container2 end------------------------- */
.container3{
    height: 140vh;
    width: 100%;
    padding-top:50px ;
}
.boxes-4{
    height: 100%;
    width: 100%;
    display: flex;
    background-color:rgb(218, 205, 180);
    border-radius:10px ;
    padding: 20px;
}
.boxes-4 .box16{
    width:40% ;
    height: 100%;
    padding: 20px;
}
.box16 p{
    font-family: 'Kanit', sans-serif;
    line-height: 30px;
}
.box16 h2{
    font-family: 'Kanit', sans-serif;
    line-height:30px ;
    padding-bottom: 15px;
    font-size: 40px;
    color:blue;
}
.img-15{
    height: 130px;
    width: 80%;
    border-radius: 10px;
}
.box16 h6{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.box16 button{
    font-family: 'Kanit', sans-serif;
    background-color: #0067e0;
    border:none;
    color: white;
    border-radius: 20px;
    width: auto;
    padding: 10px;
}

.boxes-4 .box17{
    width:65% ;
    height: 100%;
}
.box18{
    height: 55%;
}
.img-16{
    width: 100%;
    height: 80%;
    border-radius: 5px;
}
.box18 p{
    font-family: 'Kanit', sans-serif;
    padding-top: 10px;
}
.box18 p:hover{
    color: #0067e0;
}
.box19{
    height: 45%;
    display: flex;
    gap:5px;
}
.box-20{
    width: 33%;
    
}
.box-20 p{
    font-family: 'Kanit', sans-serif;
    line-height: 15px;
    padding-top:10px;
}
.box-20 p:hover{
    color: #0067e0;
}
.img-17{
    width: 100%;
    height: 120px;
    border-radius: 5px;
}
.box-21{
    width: 33%;
}
.box-21 p{
    font-family: 'Kanit', sans-serif;
    line-height: 15px;
    padding-top:10px;
}
.box-21 p:hover{
    color: #0067e0;
}
.img-18{
    width: 100%;
    height: 120px;
    border-radius: 5px;
}
.box-22{
    width: 33%;
}
.box-22 p{
    font-family: 'Kanit', sans-serif;
    line-height: 15px;
    padding-top:10px;
}
.box-22 p:hover{
    color: #0067e0;
}
.img-19{
    width: 100%;
    height: 120px;
    border-radius: 5px;
}
/* -------------------------------container3 end-------------------------- */
.container4{
    height: 130vh;
    width: 100%;
    padding-top:50px ;
}
.boxes-5{
    height: 100%;
    width: 100%;
    display: flex;
    background-color:rgb(218, 205, 180);
    border-radius:10px ;
    padding: 20px;
}
.boxes-5 .box23{
    width:40% ;
    height: 100%;
    padding: 20px;
}
.box23 p{
    font-family: 'Kanit', sans-serif;
    line-height: 30px;
}
.box23 h2{
    font-family: 'Kanit', sans-serif;
    line-height:30px ;
    padding-bottom: 15px;
    font-size: 40px;
    color:blue;
}
.img-20{
    height: 130px;
    width: 80%;
    border-radius: 10px;
}
.box23 h6{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}
.box23 button{
    font-family: 'Kanit', sans-serif;
    background-color: #0067e0;
    border:none;
    color: white;
    border-radius: 20px;
    width: auto;
    padding: 10px;
}
.box24{
    width:60% ;
    height:100% ;
}
.box25{
    width:100% ;
    display: flex;
    gap:10px;
    height: 50%;
}
.box26{
    width:50% ;
    height:100%;
}
.box26 p{
    line-height: 17px;
    padding-top:10px ;
}
.box26 p:hover{
    color:blue;
}
.img-21{
    width:100%;
    height:60%;
    border-radius: 5px;
}
.box27{
    width:50% ;
    height:100%;
}
.box27 p{
    line-height: 17px;
    padding-top:10px ;
}
.box27 p:hover{
    color:blue;
}
.img-22{
    width:100%;
    height:60%;
    border-radius: 5px;
}
.box28{
    width:100% ;
    display: flex;
    gap:10px;
    height:100%;
}
.box29{
    width:50% ;
    height:50%;
}
.box29 p{
    line-height: 17px;
    padding-top:10px ;
}
.box29 p:hover{
    color:blue;
}
.box30{
    width:50% ;
    height:50%;
}
.box30 p{
    line-height: 17px;
    padding-top:10px ;
}
.box30 p:hover{
    color:blue;
}
.img-23{
    width:100%;
    height:60%;
    border-radius: 5px;
}
.img-24{
    width:100%;
    height:60%;
    border-radius: 5px;
}







