*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.maincontainer{
    background-image: linear-gradient(black) ;
    height: 100vh;
    width:100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.first img{
    background-color: brown;
    
}