@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --txt_white:white;
}
/*---------------------------------------------------------------- introduction */
/* flex-properties */
.nitro_detail{
    display: flex;
    justify-content: center;
    align-items: center;
}
section>.intro{
    margin-top:85px;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 50px 0;
    gap:50px;
}
/* heading */
section>.intro>.txt h1{
    font-size:60px;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing:-3px;
    padding-bottom:20px;
}
/* paragraph */
section>.intro>.txt p{
    font-size: 20px;
}
/* ship */
section>.intro>.ship{
    width:500px;
    height:380px;
    /* background-color: burlywood; */
    animation-name: ship;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in-out;
    position:relative;
    z-index: -1;
}
section>.intro>.ship img[alt~="Prometheous"]{
    width:100%;
    height:100%;
}
@keyframes ship{
	0%{
        transform: translateX(0px);
        transform: scale(1.2);
    }
    20%{
        transform: translateY(40px);
    }
    40%{
        transform: translateY(60px);
        transform: scale(1.2);
    }
    60%{
        transform: translateX(-60px);
    }
    80%{
        transform: translateX(80px);
        transform: scale(1.1);
    }
    100%{
        transform: translateX(50px);
    }
}
@media only screen and (min-width:1050px) and (max-width:1150px){
/* ship */
section>.intro>.ship{
    width:360px;
    height:280px;
}
}
@media only screen and (min-width:200px) and (max-width:1050px){
/* ship */
section>.intro>.ship{
    width:320px;
    height:180px;
    padding-right: 30px;
}
/* heading */
section>.intro>.txt h1{
    font-size:40px;
    line-height:36px;
    letter-spacing:2px;
    padding-bottom:10px;
}
}

/*introduction------------------------------------------------------------- */
@media (max-width:950px){
    section>.intro{
        flex-direction: column;
        padding: 50px 0px;
        height: fit-content;
    }
}
@media only screen and (min-width:200px) and (max-width:530px){
section>.intro{
    padding:20px 30px 50px;
}
/* ship */
section>.intro>.ship{
    width:250px;
    height:130px;
    padding-right: 30px;
}
/* heading */
section>.intro>.txt h1{
    font-size:40px;
    line-height:36px;
    letter-spacing:2px;
    padding-bottom:10px;
    text-align:justify;
}
section>.intro>.txt p{
    font-size: 16px;
}
@keyframes ship{
	0%{
        transform: translateX(0px);
        transform: scale(1.2);
    }
    20%{
        transform: translateY(40px);
    }
    40%{
        transform: translateY(60px);
        transform: scale(1.2);
    }
    60%{
        transform: translateX(-30px);
    }
    80%{
        transform: translateX(80px);
        transform: scale(1.1);
    }
    100%{
        transform: translateX(50px);
    }
}
}
/* ----------------------------------nitro_details */
.nitro_detail{
 padding:50px;
 gap:30px;
 align-items:stretch;   
}
/* heading */
.nitro_detail>div>h1{
    font-size:40px;
    transition: all 0.5s;
}
.nitro_detail>div:hover h1{
    transform:translateX(20px);
}
/* icons */
.nitro_detail>div i{
    font-size:22px;
    transition: all 0.5s;
}
/* paragraph */
.nitro_detail>div>div p{
    font-size:22px;
    transition: all 0.5s;
}
.nitro_detail>div:hover >div p{
    transform: translateX(10px);
}
.nitro_detail>div:has(p:nth-child(2):hover) i:nth-child(1){
    transform: scale(1.1);
    background-color: white;
    padding:5px;
    border-radius: 50%;
}
.nitro_detail>.basic:has(p:nth-child(2):hover) i:nth-child(1){
    color:#0093E9;
}
.nitro_detail>.nitro:has(p:nth-child(2):hover) i:nth-child(1){
    color:#C850C0 ;
}
.nitro_detail>.basic{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    width: 50%;
    position: relative;
}
.nitro_detail>.nitro{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    width: 50%;
}
/* main */
.nitro_detail>div{
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:12px;
    border-radius: 10px;
    color: var(--txt_white);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}
.nitro_detail>div>div{
    display: flex;
    align-items: center;
    gap:10px;
}
.nitro_detail>div>p{
    width:100%;
    padding: 10px 0;
    font-size:22px;
    border-radius: 30px;
    border:2px solid white;
    background-color: white;
    color:black;
    text-align: center;
    transition: all 0.5s;
}
.nitro_detail>div:hover >p{
    color: #C850C0;
    transform: translateY(-10px);
}
/* button */
.nitro_detail>.basic>p{
    position: absolute;
    bottom:15px;
    left:15px;
    color:black;
    width: calc(100% - 30px);
}
.nitro_detail>.basic:hover >p{
    color:#0093E9;
}