@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* -------------------------------------------------navigation bar */
nav .nav_title div:nth-child(1) p{
    width:100%;
}
/* root */
:root{
    --text-color:white;
    --cursor:pointer;
}
/* overall-div */
.main-look{
    width: 100%;
}

/* laptop view */
.laptop{
    width: 100%;
    background-color:#191919;
    min-height: 89vh;
    color: var(--text-color);
    padding:100px 150px 80px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-lap{
    width: 50%;
    line-height: 40px;
}
.text-lap h1{
    font-size: 60px;
    font-family: 'DM Sans', sans-serif;
    line-height: 65px;
}
.text-lap>p{
    padding: 30px 0px;
    line-height: 22px;
}
.win{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-icon{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3559E0;
    padding: 10px 22px;
    border-radius: 40px;
    font-weight: 500;
    font-size: 17px;
    transition: all 2s;
}
.top-icon:hover{
    background-color: #5fbdff;
    cursor: var(--cursor);
}
.pic-lap{
    width: 50%;
    padding: 50px;
}
.pic-lap img{
    width: 600px;
    height: 350px;
    object-fit: cover;
}
/* other-downloads */
.other-down{
    width: 100%;
    padding: 80px 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    gap: 40px;
}
.spacing{
    width: 100%;
    padding:150px ;
    background-color: white;
}
.bag{
    background-color: #F3F3F3;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}
/* one display */
.one-display img{
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
.one-display{
    padding: 100px 50px 0px;
}
.one-display h2{
    font-size: 30px;
    font-weight: 900;
}
.download,.arrow-download{
    font-size: 25px;
    color: var(--text-color);
    font-weight: 900;
    padding: 15px;
    border-radius: 50px;
    background-color: black;
    cursor: var(--cursor);
}
.download:hover,.arrow-download:hover{
    box-shadow: 3px 3px 3px 3px black;
    transition: all 2s;
}
.arrow{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow input{
    display: none;
}
.one-text{
    padding: 100px 50px 30px;
}
.show-one,.show-two{
    background-color: white;
    width: 100%;
    padding: 5px;
    display: none;
}
.check-arrow-one input:checked~ .show-one,.check-arrow-two input:checked~ .show-two{
    display: block;
    background-color: white;
    padding: 20px;
    transition: 2s;
    border-radius: 15px;
}
.color-effect:hover{
    padding: 10px;
}
.color-effect:hover{
    background-color: #F3F3F3;
    text-decoration: underline;
    color: #4942E4;
    padding: 10px;
}




@media only screen and (min-width:280px) and (max-width:500px) {
    .laptop{
        flex-direction: column;
        padding: 130px 10px 0px;
    }
    .text-lap{
        width: 99%;
    }
    .text-lap h1{
        font-size: 36px;
        line-height: 30px;
    }
    
    .win{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .top-icon{
        width: 90%;
    }
    .pic-lap{
        width: 90%;
        padding: 10px;
    }
    .pic-lap img{
       max-width: 100%;
        height: auto;
    }
    /* other download */
    .other-down{
        padding: 50px 10px;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
    .one-text{
        padding: 100px 5px 30px;
    }
    .one-display{
        padding: 50px 10px 10px;
    }
    .one-display img{
        max-width: 100%;
        height: auto;
    }
    .spacing{
        display: none;
    }
    .bag{
        width: 98%;
    }
    .text-down{
        width: 80%;
        flex-wrap: wrap;
    }
    
    .download,.arrow-download{
        font-size: 18px;
        padding: 6px;
    }
}
@media only screen and (min-width:500px) and (max-width:800px) {
    .laptop{
        padding: 130px 25px 0px;
    }
    .text-lap{
        width: 99%;
    }
    .text-lap h1{
        font-size: 36px;
        line-height: 30px;
    }
    .win{
        width: 100%;
        flex-direction: column;
        gap: 25px;
    }
    .top-icon{
        width: 80%;
    }
    .pic-lap{
        width: 90%;
        padding: 10px;
    }
    .pic-lap img{
        max-width: 100%;
        height: auto;
    }
    /* other download */
    .other-down{
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
        padding: 20px 10px;
        gap: 25px;
    }
    .one-text{
        padding: 100px 5px 30px;
    }
    .one-display{
        padding: 50px 10px 10px;
    }
        
    .one-display img{
        max-width: 100%;
        height: auto;
    }
    .bag{
        width: 98%;
    }
    .text-down{
        width: 80%;
        flex-wrap: wrap;
    }
}
@media only screen and (min-width:800px) and (max-width:1200px) {
    .laptop{
        padding: 130px 10px 0px;
    }
    .text-lap{
        width: 99%;
    }
    .text-lap h1{
        font-size: 36px;
        line-height: 30px;
    }
    .win{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .top-icon{
        width: 60%;
    }
    .pic-lap{
        width: 90%;
        padding: 10px;
    }
    .pic-lap img{
        max-width: 100%;
        height: auto;
    }
    /* other -download */
    .other-down{
        grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
        padding: 50px 30px;
    }
    .one-display img{
        max-width: 100%;
        height: auto;
    }
    .bag{
        width: 100%;
    }
    .text-down{
        width: 80%;
        flex-wrap: wrap;
    }
}
@media only screen and (min-width:1200px) and (max-width:1400px) {
    .laptop{
        padding: 10px 60px 0px;
    }
    .text-lap{
        width: 99%;
    }
    .text-lap h1{
        font-size: 36px;
        line-height: 30px;
    }
    .win{
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .top-icon{
        width: 50%;
    }
    .pic-lap{
        width: 90%;
        padding: 10px;
    }
    .pic-lap img{
        max-width: 100%;
        height: auto;
    }
    /* other download */
    .other-down{
        grid-template-columns: repeat(auto-fit,minmax(380px,1fr));
    }
    .one-display img{
        max-width: 100%;
        height: auto;
    }
    .bag{
        width: 80%;
    }
    .text-down{
        width: 80%;
        flex-wrap: wrap;
    }
}